backcall==0.1.0
certifi==2020.4.5.1
cffi==1.14.0
cycler==0.10.0
Cython==0.29.16
decorator==4.4.2
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
kiwisolver==1.2.0
matplotlib==3.2.1
ninja==1.9.0.post1
numpy==1.18.3
olefile==0.46
opencv-python==4.2.0.34
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==3.0.4
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
six==1.14.0
torch==1.0.1.post2
torchvision==0.2.2
tqdm==4.45.0
traitlets==4.3.3
wcwidth==0.1.9
yacs==0.1.6
